<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--按键和触屏模式切换touch为触屏模式其他为按键模式-->
    <add key="mode" value="touch"/> 
    <!--手柄名称-->
    <add key="Joystick1" value="Generic   USB  Joystick  "/>
    <add key="Joystick2" value="USB Controller"/>
    <!--服务器IP地址-->
    <add key="reomoteIp" value="192.168.0.14"/>
    <!--本机IP地址-->
    <add key="localIp" value="192.168.0.30"/>
    <!--麦克风IP地址-->
    <add key="microIp" value="麦克风 (Realtek High Definition Au"/>
    <!--服务器视频地址-->
    <add key="remoteAvi" value="/home/fanfan/"/>
    <!--本机视频地址-->
    <add key="localAvi" value="C:\avi\"/>

    <!--摄像头角度软调整 只能0 90 180 270-->
    <add key="angel0" value="0"/>
    <add key="angel1" value="0"/>
    <add key="angel2" value="0"/>
    <add key="angel3" value="0"/>
    <add key="angel4" value="0"/>
    <add key="angel5" value="0"/>

  </appSettings>
</configuration>